* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("TrueType");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("TrueType");
    font-weight: bold;
}

@font-face {
    font-family: "Lalezar";
    src: url(../fonts/Lalezar-Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Lobster2";
    src: url(../fonts/LobsterTwo-Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Montaga";
    src: url(../fonts/Montaga-Regular.ttf) format("TrueType");
}

@font-face {
    font-family: "Baloo";
    src: url(../fonts/Baloo-Regular.ttf) format("TrueType");
    font-weight: normal;
}

@font-face {
    font-family: "Baloo";
    src: url(../fonts/Baloo-Bold.ttf) format("TrueType");
    font-weight: bold;
}

:root {
    --bg: #212223;
    --ui-bg: #263133;
    --ui-bg2: #96cdef;
    --ui-op: 150, 205, 239;
    --header-blend: #7ba1a8;
    --nav2-blend: #637b80;
    --footer-blend: #8aacb2;
    --contact-bg: var(--ui-bg);
    --contact-color: var(--ui-bg2);
    --color: #fff;
    --nav-color: var(--color);
    --related-color: #000; 
    --link: var(--ui-bg2);
    scrollbar-width: thin !important
}

.light {
    --bg: #fdeeb7;
    --ui-bg: #ffe7a4;
    --ui-bg2: #705635;
    --ui-op: 255, 231, 164;
    --header-blend: var(--ui-bg);
    --contact-bg: var(--ui-bg2);
    --contact-color: var(--ui-bg);
    --nav2-blend: #ffc782;
    --footer-blend: var(--ui-bg);
    --color: #000;
    --related-color: #fff;
    --link: #007383;
    --nav-color: var(--ui-bg);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--ui-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 200px;
    background: var(--ui-bg2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color);
}

* {
    transition: background 1s ease-in-out, color 1s ease-in-out;
}

body {
    overflow: hidden;
    font-family: "Roboto";
    background-color: var(--bg);
    width: 100%;
    min-height:100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ui-bg);
    z-index: 1000;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.hide {
    display: none !important;
}

